<launch>
  <arg name="world" default="$(find my_room_world)/worlds/room_6x6.world"/>
  <arg name="gui" default="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
  </include>

<!-- UAV1: surveyor -->
  <include file="$(find my_room_world)/launch/spawn_one_uav.launch">
    <arg name="ns" value="uav1"/>
    <arg name="x" value="-4.0"/>
    <arg name="y" value="-4.0"/>
    <arg name="z" value="1.0"/>
  </include>

  <!-- UAV2: inspector -->
  <include file="$(find my_room_world)/launch/spawn_one_uav.launch">
    <arg name="ns" value="uav2"/>
    <arg name="x" value="4.0"/>
    <arg name="y" value="-4.0"/>
    <arg name="z" value="1.0"/>
  </include>

<!-- UAV1 lawnmower -->
<node pkg="my_room_world" type="lawnmower_pose.py" name="lawnmower_pose" output="screen">
  <param name="pose_topic" value="/uav1/command/pose"/>
  <param name="enable_motors_srv" value="/uav1/enable_motors"/>
  <param name="switch_controller_srv" value="/uav1/controller_manager/switch_controller"/>
  <param name="unload_controller_srv" value="/uav1/controller_manager/unload_controller"/>
  <param name="command_frame" value="uav1/world"/>

  <param name="start_delay" value="5.0"/>
  <param name="room_size_x" value="10.0"/>
  <param name="room_size_y" value="10.0"/>
  <param name="margin" value="1.0"/>
  <param name="lane_step" value="1.0"/>
  <param name="z" value="3.3"/>
  <param name="hold_time" value="0.0"/>
  <param name="rate" value="10.0"/>
  <param name="transition_time" value="30.0"/>
  <param name="yaw_transition_time" value="1.0"/>
  <param name="start_x" value="-4.0"/>
  <param name="start_y" value="-4.0"/>
</node>

 <node pkg="gazebo_ros" type="spawn_model" name="spawn_aircraft" output="screen"
      args="-sdf -file $(env HOME)/.gazebo/models/airplane_gdp/model.sdf -model airplane_gdp -x 0 -y 0 -z 0.1" /> 


<!-- UAV1 camera TF only -->
  <node pkg="tf" type="static_transform_publisher" name="uav1_base_to_rgbd"
        args="0 0 -0.10 0 1.5708 0 uav1/base_link uav1/rgbd_link 100" />

  <node pkg="tf" type="static_transform_publisher" name="uav1_rgbd_to_color_optical"
        args="0 0 0 -1.5708 0 -1.5708 uav1/rgbd_link uav1/rgbd_color_optical_frame 100" />

  <node pkg="tf" type="static_transform_publisher" name="uav1_rgbd_to_depth_optical"
        args="0 0 0 -1.5708 0 -1.5708 uav1/rgbd_link uav1/rgbd_depth_optical_frame 100" />

  <!-- RTAB launcher: UAV1 only -->
  <node pkg="my_room_world" type="launch_rtab.py"
        name="delayed_rtabmap_launcher" output="screen">
    <param name="map_origin_file" value="$(find my_room_world)/rtabmap_rgb_export/map_origin.json"/>
  </node>

  <!-- Stop RTAB + FOI pipeline -->
  <node pkg="my_room_world" type="stop_rtab.py"
        name="rtab_stop_watcher" output="screen">
    <param name="db_path" value="$(env HOME)/.ros/rtabmap.db"/>
    <param name="export_dir" value="$(find my_room_world)/rtabmap_rgb_export"/>
    <param name="apriltag_script" value="$(find my_room_world)/apriltag_location.py"/>
    <param name="goto_script" value="$(find my_room_world)/scripts/go_to_FOI.py"/>
  </node>
</launch>

<!-- roslaunch my_room_world room.launch -->
<!-- rosservice call /enable_motors "{enable: true}" -->

 <!-- rostopic pub -1 /command/pose geometry_msgs/PoseStamped "{
  header: {frame_id: 'world'},
  pose: {
    position: {x: 1.0, y: 1.0, z: 1.5},
    orientation: {x: 0.0, y: 0.0, z: 0.0, w: 1.0}
  }
}"
publishing and latching message for 3.0 seconds -->

<!-- inspection@inspection-ThinkStation-P320:~/catkin_ws/src$ rostopic pub -1  /command/twist geometry_msgs/TwistStamped "{
  header: {frame_id: 'world'},
  twist: {
    linear:  {x: 0.5, y: 0.3, z: 0.3},
    angular: {x: 0.0, y: 0.0, z: 0.3}
  }
}" -->

<!-- roslaunch hector_quadrotor_gazebo quadrotor_empty_world.launch -->
<!-- roslaunch hector_quadrotor_gazebo quadrotor_empty_world.launch -->


<!-- chmod +x /home/inspection/catkin_ws/src/my_room_world/scripts/lawnmower_pose.py -->
<!-- roslaunch my_room_world room.launch -->

<!-- ********************edit the payload on robot *********************-->
<!-- inspection@inspection-ThinkStation-P320:~/catkin_ws$ rosed hector_quadrotor_description quadrotor.gazebo.xacro -->


<!-- ********************start publishing camera images and open the camera view: ************************-->
<!-- rostopic hz /d435/color/image_raw -->
<!-- rosrun rqt_image_view rqt_image_view -->
