<launch>
  <arg name="world" default="$(find inspection_GDP)/worlds/room_6x6.world"/>
  <arg name="gui" default="true"/>

  <env name="GAZEBO_MODEL_PATH" value="$(find inspection_GDP)/models:$(optenv GAZEBO_MODEL_PATH)" />
  <env name="GAZEBO_RESOURCE_PATH" value="$(find inspection_GDP):$(optenv GAZEBO_RESOURCE_PATH)" />
 
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
  </include>

<!-- UAV1: surveyor -->
  <include file="$(find inspection_GDP)/launch/spawn_one_uav.launch">
    <arg name="ns" value="uav1"/>
    <arg name="x" value="-5.0"/>
    <arg name="y" value="-5.0"/>
    <arg name="z" value="1.0"/>
  </include>

  <!-- UAV2: inspector -->
  <include file="$(find inspection_GDP)/launch/spawn_one_uav.launch">
    <arg name="ns" value="uav2"/>
    <arg name="x" value="5.0"/>
    <arg name="y" value="-5.0"/>
    <arg name="z" value="1.0"/>
  </include>

<!-- Surveyor lawnmower -->
<node pkg="inspection_GDP" type="lawnmower_pose.py" name="lawnmower_pose" output="screen">
  <param name="pose_topic" value="/uav1/command/pose"/>
  <param name="enable_motors_srv" value="/uav1/enable_motors"/>
  <param name="switch_controller_srv" value="/uav1/controller_manager/switch_controller"/>
  <param name="unload_controller_srv" value="/uav1/controller_manager/unload_controller"/>
  <param name="command_frame" value="uav1/world"/>

  <param name="start_delay" value="5.0"/>
  <param name="room_size_x" value="10.0"/>
  <param name="room_size_y" value="10.0"/>
  <param name="margin" value="1.0"/>
  <param name="lane_step" value="1.0"/>
  <param name="z" value="5.0"/>
  <param name="hold_time" value="0.0"/>
  <param name="rate" value="10.0"/>
  <param name="transition_time" value="40.0"/>
  <param name="yaw_transition_time" value="1.0"/>
  <param name="start_x" value="-5.0"/>
  <param name="start_y" value="-5.0"/>
</node>

 <node pkg="gazebo_ros" type="spawn_model" name="spawn_aircraft" output="screen"
      args="-sdf -file $(find inspection_GDP)/models/airplane_gdp/model.sdf -model airplane_gdp -x 0 -y 0 -z 0.1" /> 


<!-- Surveyor camera TF only -->
  <node pkg="tf" type="static_transform_publisher" name="uav1_base_to_rgbd"
        args="0 0 -0.10 0 1.5708 0 uav1/base_link uav1/rgbd_link 100" />

  <node pkg="tf" type="static_transform_publisher" name="uav1_rgbd_to_color_optical"
        args="0 0 0 -1.5708 0 -1.5708 uav1/rgbd_link uav1/rgbd_color_optical_frame 100" />

  <node pkg="tf" type="static_transform_publisher" name="uav1_rgbd_to_depth_optical"
        args="0 0 0 -1.5708 0 -1.5708 uav1/rgbd_link uav1/rgbd_depth_optical_frame 100" />

  <!-- RTAB launcher: Surveyor only -->
  <node pkg="inspection_GDP" type="launch_rtab.py"
        name="delayed_rtabmap_launcher" output="screen">
    <param name="map_origin_file" value="$(find inspection_GDP)/rtabmap_rgb_export/map_origin.json"/>
  </node>

  <!-- Stop RTAB + FOI pipeline -->
<node pkg="inspection_GDP" type="stop_rtab.py" name="rtab_stop_watcher" output="screen">
  <param name="db_path" value="$(env HOME)/.ros/rtabmap.db"/>
  <param name="export_dir" value="$(find inspection_GDP)/rtabmap_rgb_export"/>
  <param name="apriltag_script" value="$(find inspection_GDP)/apriltag_location.py"/>
  <param name="map_topic" value="/proj_map"/>
</node>

  <node pkg="inspection_GDP" type="mission_metrics_logger.py" name="mission_metrics_logger" output="screen">
    <param name="results_dir" value="$(env HOME)/simulation_results"/>
    <param name="run_id" value="$(anon simrun)"/>

    <param name="foi_gt_x" value="2.0"/>
    <param name="foi_gt_y" value="0.0"/>
    <param name="foi_gt_z" value="2.1"/>

    <!-- ROI for map completeness -->
    <param name="map_roi_x_min" value="-5.0"/>
    <param name="map_roi_x_max" value="5.0"/>
    <param name="map_roi_y_min" value="-5.0"/>
    <param name="map_roi_y_max" value="5.0"/>

    <param name="uav1_gt_topic" value="/uav1/ground_truth/state"/>
    <param name="uav1_est_topic" value="/uav1/odom"/>
    <param name="map_topic" value="/proj_map"/>
    <param name="finished_topic" value="/lawnmower_finished"/>
    <param name="foi_file" value="$(find inspection_GDP)/rtabmap_rgb_export/apriltag_median_map.json"/>
    <param name="map_origin_file" value="$(find inspection_GDP)/rtabmap_rgb_export/map_origin.json"/>
  </node>
</launch>

<!-- roslaunch inspection_GDP room.launch -->
<!-- rosservice call /enable_motors "{enable: true}" -->

 <!-- rostopic pub -1 /command/pose geometry_msgs/PoseStamped "{
  header: {frame_id: 'world'},
  pose: {
    position: {x: 1.0, y: 1.0, z: 1.5},
    orientation: {x: 0.0, y: 0.0, z: 0.0, w: 1.0}
  }
}"
publishing and latching message for 3.0 seconds -->

<!-- inspection@inspection-ThinkStation-P320:~/catkin_ws/src$ rostopic pub -1  /command/twist geometry_msgs/TwistStamped "{
  header: {frame_id: 'world'},
  twist: {
    linear:  {x: 0.5, y: 0.3, z: 0.3},
    angular: {x: 0.0, y: 0.0, z: 0.3}
  }
}" -->

<!-- roslaunch hector_quadrotor_gazebo quadrotor_empty_world.launch -->
<!-- roslaunch hector_quadrotor_gazebo quadrotor_empty_world.launch -->


<!-- chmod +x /home/inspection/catkin_ws/src/inspection_GDP/scripts/lawnmower_pose.py -->
<!-- roslaunch inspection_GDP room.launch -->

<!-- ********************edit the payload on robot *********************-->
<!-- inspection@inspection-ThinkStation-P320:~/catkin_ws$ rosed hector_quadrotor_description quadrotor.gazebo.xacro -->


<!-- ********************start publishing camera images and open the camera view: ************************-->
<!-- rostopic hz /d435/color/image_raw -->
<!-- rosrun rqt_image_view rqt_image_view -->



<!-- chmod +x ~/catkin_ws/src/my_room_world/scripts/mapping_supervisor.py
cd ~/catkin_ws && catkin_make
source ~/catkin_ws/devel/setup.bash -->
<!-- roslaunch my_room_world survey_and_map.launch -->


<!-- rosrun pcl_ros pointcloud_to_pcd input:=/rtabmap/cloud_map _prefix:=$HOME/room_ -->



<!-- RTAB-Map is currently reusing:
/home/inspection/.ros/rtabmap.db

If you want a fresh map every run, delete it before launching:
rm -f ~/.ros/rtabmap.db ~/.ros/rtabmap.db.back -->
